body {
  background-color: #ECEFF1;
}

div, h1, h2, h3, h4, h5, ul, ol, li {
  margin: 0;
  padding: 0;
}

.header {
  height: 60px;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}
