body {
  background-color: #ECEFF1;
}

p, span, div, h1, h2, h3, h4, h5, ul, ol, li {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

div {
  box-sizing: border-box;
}

header {
  height: 60px;
}

header h1 {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

.outer-container {
  width: 100%;
}

.inner-container {
  max-width: 960px;
  margin: 0 auto;
}

.layout-header {
  padding: 30px 0px;
}

.content-container {
  border-top: 1px solid #c4cfd4;
  padding-top: 30px;
}
